@charset "UTF-8";
h1{font-size: 34px;}
h2{font-size: 30.5px;}
h3{font-size: 22px;}
h4{font-size: 17.5px;}
h5{font-size: 14px;}
h6{font-size: 11px;}
p{font-size: 13px;}
.btn-secondary{
    width:120px;
    height:auto;
      background-color:rgb(252, 213, 71); 
      color:#eddece;
      padding: 5px;
      margin:1px auto;
      padding: 1px auto;
    font-size:large;
    font-weight:600;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
    
      
  }
  .text-light{color:#eddecd;}
  .btn-secondary:hover{ background-color:rgb(255,222,93);scale: 1.1;opacity: 0.8;}
  h1{font-size: 36px;}
  .noidung{
    margin: auto 15px;
    padding: auto 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
  }
  .noidung h1{
    font-size:36px;
  }
  .noidung h3{color: #fcd547;
  font-size:36px;
font-weight: 700;}
.about p{font-size:20px;}

  .bg-primary{
    background-color:rgb(255,222,93);
    width: auto;
    height:auto;
    margin:  auto;
    position: relative;
    border-radius: 20px;
  }
  .d-flex{display: flex;}
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: 500px;
  }
  .l-2-4{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .img-hinh{padding: 0 30px;}
  
  .front-img{
    border-radius:30px;
   
  }
  .front-fig{
    border-radius:30px;
    box-shadow: 2px 2px 4px #ccc;
    
  }
  @media screen and (max-width: 1399px)
{

}
@media screen and (max-width: 1199px)
{

}
@media screen and (max-width: 992px)
{

}
@media screen and (max-width: 767px)
{
  .noidung h1{
    font-size: 26px;
  }
  .noidung h2{
    font-size: 22px;
  }
  .noidung h3{color: #fcd547;
  font-size:30px;
font-weight: 700;}
.about h1{font-size:26px;}
.about p{font-size:16px;}
.bg-primary span{font-size:24p;}
.bg-primary p{font-size:20px;}

}


